{
  "presets": [
    "env",
    "react"    
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./src",
        "alias": {
          "@": "./src",
          "components": "./src/components",
          "container": "./src/container",
          "requests": "./src/core/requests"
        }
      }
    ]
  ]
}