.MovieRankingType {
    position: relative;
    top: -40px;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    &__item {
        display: inline-block;
        margin: 0 50px;
        color: #FFF;
        width: 146px;
        font-size: 20px;
        line-height: 1.15;
        transition: 0.5s;
        font-weight: 300;
        &::after {
            display: block;
            content: '';
            border: 2px transparent solid;
            border-radius: 10px;
        }
        &:hover {
            color: #c373f7;
        }
        &--select {
            color: #c373f7;
            font-weight: 900;
            &::after {
                border-color: #c373f7;
                animation: borderAnimation 0.5s;
            }
        }
    }
}

@keyframes borderAnimation {
    0% {
        margin: 0 auto;
        width: 0px;
    }
    100% {
        margin: 0 auto;
        width: 142px;
    }
}