.MainContents {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAGklEQVQYV2NkYGD4z4AGGCkU5OfnxzSTXoIAp58LD2nKiPUAAAAASUVORK5CYII=) repeat;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
        width: 1300px;
        height: 350px;
    }
}